#result {
  display: none;
}

#quarter {
  max-height: 279px;
  max-width: 279px;
}

#dime {
  max-height: 206px;
  max-height: 206px;
}

#nickel {
  min-height: 244px;
  min-width: 244px;
}

#penny {
  max-height: 219px;
  max-width: 219px;
}
